@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome, this is my first app with Azure!!! /n This is a test update!</h1>
</div>
