@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome, this is my first app with Azure!!! This is a test update!</h1>
    <h3>
        @ViewData["Greeting"]
    </h3>
</div>
